.button {
  background-color: #5a24b4; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #5a24b4;
}

.button1:hover {
  background-color: #5a24b4;
  color: #5a24b4;
}

/* .login::after {
  background: url('./images/cover.jpg');
  background-position: 'center';
  background-size: 'cover';
  background-repeat: 'no-repeat';
  width: '100vw';
  height: '100vh';
} */
