.button {
  background-color: #5a24b4; /* Green */
  border: none;
  color: white;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #5a24b4;
}

.button1:hover {
  background-color: #5a24b4;
  color: white;
}
